html {
    background-color: black;
    font-size: 16px;
}

header {
    text-align: center;
    width: 100%;
    color: white;
}

h1 {
    font-size: 3.12rem;
}

.coming-soon {
    color: aquamarine;
    font-size: 1rem;
    text-align: center;
}

#phone {
    display: flex;
    flex-shrink: 2;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

